.storybook-demo {
  .k-appbar {
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    gap: 1em;

    div {
      nav {
        font-size: 14px;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        flex: 1 1 auto;
        flex-wrap: wrap;
        gap: 1em;
      }
    }
  }
}
