.my-slider-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex: 1 0 calc(33.3% - 2rem); 
  gap: 2rem;
}

/* .k-tick.k-tick-large.k-tick-horizontal,
.k-tick.k-tick-large.k-tick-vertical {
  visibility: hidden;
}
.k-tick > .k-label {
  visibility: visible;
} */
