@import url("https://cdn.jsdelivr.net/npm/@featherk/styles@latest/dist/v8.2.0/css/featherk.css");
/* This is the style for Storybook Chrome*/

.fk-emmet {
  height: auto;
  /* margin: 1rem; */
  padding-top: 1rem;
  /* transition: opacity .25s ease-out; */
  &:hover {
    max-height: 100vh;
    overflow: auto;
    fieldset {
      border: 1px solid #111;
      opacity: 1;
      legend {
        background-color: black;
        color: white;
      }
      pre {
        opacity: 1;
      }
    }
  }
  fieldset {
    opacity: .75;
    legend {
      border: 1px solid navy;
      background-color: white;
      color: navy;
      padding: 0.125rem 2rem;
      margin: 0.125rem;
      border-radius: 5px;
    }
    pre {
      transition: opacity 0.125s ease-in;
      opacity: .5;
      user-select: auto;
    }
  }
}
